@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --pink-color: #E02C6D;
    --primary-color: orange;
    --secondary-color: #2D25A0;
    --white-text: #FFFFFF;
    --half-width: 50%;
    --custom-box: 40px 80px;
    --small-box: 10px 20px;
}

/* ****************************** *\
        GENERICS & UTILITIES 
\ * ***************************** */

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 64px;
    line-height: 80px;
}
h2 {
    font-size: 48px;
}
h3 {

}
p {

}
a {
    text-decoration: none;
    padding: 10px 25px;
}
li {
    list-style: none;
}

/* ****************************** *\
        HEADER 
\ * ***************************** */
header {
    height: 600px;
    width: 100vw;
    background-color:var(--secondary-color);
}
header nav {
    padding: var(--custom-box);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav span {
    display: none;
}
nav span a {
    color: var(--white-text);
}
.fa-bars {
    line-height: 24px;
    color: var(--white-text);
}
.header__menu li {
    
}
.header__menu li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-text);
}

.header__profile .fas, 
.header__profile a {
    color: #FFFFFF;
    background-color: var(--pink-color);
}

.header__bottom {
    display: flex;
}
.header__legend {
    margin: var(--custom-box);
    color: var(--white-text);
    display: flex;
    width: var(--half-width);
    flex-direction: column;
}
.header__legend .watch-link a {
    color: #FFFFFF;
    background-color: var(--pink-color);
}
.header__legend--head {
    margin-top: -10px;
}

.header__image {
    width: var(--half-width);
}

.header__image img {
    width: 90%;
}

/* ****************************** *\
        PLAYERS SECTION 
\ * ***************************** */
section {
    margin-top: 2px;
}
.players {
    margin: var(--custom-box);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.player {
    width: 330px;
    height: 474px;
    margin-top: 35px;
    margin-right: 35px;
    box-shadow: 2px 3px 3px 4px #ccc;
    /* border: 2px solid seagreen; */
}
.player__detail {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
}
.player__detail img {
    width: 100%;
    border-radius: 3px;
}
.player__name {
    text-align: center;
}
.player__description {
    margin-top: -10px;
}

/* ****************************** *\
        HIGHLIGHTS SECTION 
\ * ***************************** */

.highlights {
    margin: var(--custom-box);
    margin-top: 165px;
    display: flex;
}
.highlight__left, .highlight__right {
    width: var(--half-width);
}
.highlight__left {
    display: flex;
    flex-direction: column;
}
.hightlight__left--description {
    margin-bottom: 24px;
}

.hightlight__left--link a {
    margin-top: 24px !important;
    color: #FFFFFF;
    background-color: var(--pink-color);
}
.hightlight__right--image {

}
.hightlight__right--image img {
    width: 90%;
}


/* ****************************** *\
            FOOTER  
\ * ***************************** */
.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.footer__logo img {
    width: 90%;
}
.footer__social--links {
    display: flex;
    justify-content: center;
}
.footer__social--links span {
    margin-right: 20px;
    padding: 10px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    left: 5px;
    background-color: rgb(178, 183, 189);
    border-radius: 50%;
}

.footer__social--links span i {
    padding-left: 5px;
    color: var(--secondary-color);
}
.footer__copyright p {
    text-align: center;
}
.footer__copyright p span {
    color: var(--pink-color);
}

/* ****************************** *\
        RESPONSIVENESS  
\ * ***************************** */

@media (max-width: 480px) {
    header {
        height: 660px;
    }
    header nav {
        padding: var(--small-box);
        padding-top: 30px;
    }
    .header__menu {
        display: none;
    }
    nav span {
        display: inline;
    }
    .header__profile  a {
        padding: 5px 10px;
        margin-right: 20px;
    }
    .header__bottom {
        flex-direction: column;
    }
    .header__legend--head {
        font-size: 22px;
        line-height: 40px;
    }
    .header__image {
        margin-top: 25px;
        padding-left: 30px;
        width: 95%;
     }

  }